.home-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-color: #f3f4f6; /* light gray */
  font-family: Arial, sans-serif;
}

.home-main-content {
  flex-grow: 1;
  /* padding: 24px; */
  background-color: #f9fafb;
  overflow-y: auto;
}

.home-main-content h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #1f2937; /* dark gray */
}
